<?xml version="1.0"?>
<config>
    <modules>
        <Ddg_Transutm>
            <version>0.0.2</version>
        </Ddg_Transutm>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ddg_Transutm before="Mage_Adminhtml">Ddg_Transutm_Adminhtml</Ddg_Transutm>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <ddg_trans>
                <class>Dotdigitalgroup_Email_Block</class>
            </ddg_trans>
            <adminhtml>
                <rewrite>
                    <system_email_template_edit>Ddg_Transutm_Block_System_Email_Template_Edit</system_email_template_edit>
                    <system_email_template_edit_form>Ddg_Transutm_Block_System_Email_Template_Edit_Form</system_email_template_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ddg_trans>
                <class>Ddg_Transutm_Helper</class>
            </ddg_trans>
        </helpers>
        <models>
            <ddg_transutm>
                <class>Ddg_Transutm_Model_Model</class>
            </ddg_transutm>
            <core>
                <rewrite>
                    <email_template_filter>Ddg_Transutm_Model_Email_Template_Filter</email_template_filter>
                </rewrite>
            </core>
        </models>
        <resources>
            <ddg_trans_setup>
                <setup>
                    <module>Ddg_Transutm</module>
                    <class>Ddg_Transutm_Model_Resource_Setup</class>
                </setup>
            </ddg_trans_setup>
        </resources>
    </global>
</config>
