<?xml version="1.0"?>
<config>
    <modules>
        <Ddg_Transutm>
            <version>0.0.1</version>
        </Ddg_Transutm>
    </modules>
    <global>
        <helpers>
            <ddg_trans>
                <class>Ddg_Transutm_Helper</class>
            </ddg_trans>
        </helpers>
        <models>
            <ddg_transutm>
                <class>Ddg_Transutm_Model_Model</class>
            </ddg_transutm>
            <core>
                <rewrite>
                    <email_template_filter>Ddg_Transutm_Model_Email_Template_Filter</email_template_filter>
                </rewrite>
            </core>
        </models>

    </global>
</config>